[Unit]
Description=Doorlock Controller Daemon

[Service]
User=oursky
ExecStart=/usr/bin/node /home/oursky/doorlock.js

[Install]
WantedBy=multi-user.target
