[Unit]
Description=Doorlock Controller Daemon

[Service]
User=oursky
ExecStart=/usr/bin/java -jar /home/oursky/doorlock-1.0.0-SNAPSHOT-standalone.jar

[Install]
WantedBy=multi-user.target
