[Unit]
Description=Doorlock BLE Advertising Daemon

[Service]
ExecStart=/usr/bin/node /home/oursky/doorlock/daemon-trigger-ble %i

[Install]
WantedBy=multi-user.target
